/*Browser Default Change*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
a {
  text-decoration: none;
}
button {
  font-family: inherit;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
/*Phone screen
@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}
*/
/*Tablet screen*/
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
/*Desktop screen*/
@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 96px 0;
  }
}
@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}
/*Header*/
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
@media screen and (min-width: 1158px) {
  .page-header {
    padding: 24px 0;
  }
}
.header-inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.logo-main {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
@media screen and (min-width: 1158px) {
  .logo-main {
    margin-right: 76px;
  }
}
.logo-span {
  color: #2e2f42;
}
.page-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list {
  display: flex;
  gap: 40px;
}

@media screen and (max-width: 767.98px) {
  .nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1157.97px) {
  .nav-list {
    margin-right: 121px;
  }
}
/*
.header-nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 40px;
  }

*/
.nav-item {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.deco-line {
  position: relative;
  color: #404bbf;
}
.nav-item.deco-line::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 48px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}
.address-menu {
  font-style: normal;
  display: flex;
}
.address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
/*
@media screen and (min-width: 768px) and (max-width: 1157.97px) {
  .address-list {
      flex-wrap: wrap;
      gap: 12px;
      flex-direction: column;
      padding: 0;
  }
}
.
*/
@media screen and (max-width: 767.98px) {
  .address-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .address-list {
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .address-list {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    flex-direction: row;
    gap: 40px;
  }
}

.address-item {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-item:hover,
.address-item:focus {
  color: #404bbf;
}
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: none;
  background-color: black;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-icon {
  fill: #2f2f37;
}

/*Hero*/
.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  flex-shrink: 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/bg-hero.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}
/* please add exported img
   @media (min-resolution: 192dpi) {
.hero { 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-officeM2x.jpg);
  }
}
@media only screen and (min-width: 768px) { 
  .hero { 
      padding: 112px 0; 
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-officeT.jpg); 
  } 
} 

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) { 
  .hero { 
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-officeT2x.jpg); 
  } 
} 

@media only screen and (min-width: 1158px) { 
  .hero { 
      padding: 188px 0; 
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg); 
  } 
} 

@media only screen and (min-width: 1158px) and (min-resolution: 192dpi) { 
  .hero { 
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/people-office2x.jpg); 
  } 
}
*/
.hero-con {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
  }
}
.hero-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 200px;
  margin: 0 auto 72px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    margin-bottom: 36px;
    max-width: 496px;
  }
}
@media screen and (min-width: 1158px) {
  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
}

.hero-button {
  display: block;
  border-radius: 4px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
/*Solution*/
.solutions-con {
  flex-direction: column;
}
.solution-list {
  display: flex;
  row-gap: 72px;
  background-color: #fff;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .solution-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }
}
@media screen and (min-width: 1158px) {
  .solution-list {
    flex-direction: row;
    gap: 24px;
  }
}

.solution-list-item {
  width: calc((100%-72px) / 4);
}

@media screen and (min-width: 768px) {
  .solution-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .solution-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }
}

.solution-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

@media screen and (min-width: 1158px) {
  .solution-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }
}

.solution-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
}
@media screen and (min-width: 1158px) {
  .list-text {
    font-weight: 400;
    max-width: 264px;
  }
}

@media screen and (min-width: 1158px) {
  .solution-icon {
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    height: 112px;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    padding: 24px 0;
  }
}

@media screen and (max-width: 1157.97px) {
  solution-list-icons {
    display: none;
  }
}

/*Our Team*/
.team-sctn {
  background-color: #f4f4fd;
}
.team-con {
  flex-direction: column;
}
.team-list {
  display: flex;
  width: 100%;
  row-gap: 72px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-right: 24px;
  }
}

.team-list:last-child {
  margin-right: 0;
}

.team-list-item {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 1158px) {
  .team-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}
.team-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.team-container {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-member {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  margin-bottom: 8px;
  text-align: center;
}

.team-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
  text-align: center;
}
.team-icons-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}
.team-icons-items {
  width: 40px;
  height: 40px;
}
.team-icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-link:hover,
.team-icons-link:focus {
  background-color: #404bbf;
}
.team-list-icons {
  fill: #f4f4fd;
}

/*Portfolio*/
.portfolio-con {
  flex-direction: column;
}
.portfolio-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
  }
}
.portfolio-list-item {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
  .portfolio-list-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list-item {
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: calc((100% - 2 * 24px) / 3);
  }
}

.portfolio-container {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-name {
  padding-bottom: 8px;
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
  margin-bottom: 8px;
}

.portfolio-info {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}
.overlay-wrapper {
  position: relative;
  overflow: hidden;
}
.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
  letter-spacing: 0.02em;
  text-align: left;
  color: #f4f4fd;
  padding: 40px 32px;
}

.portfolio-list-item:hover .text-overlay {
  transform: translateY(0%);
}
/*Footer*/
.footer-sctn {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-span-footer {
  color: #f4f4fd;
}
.text-footer {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-container-logo-info {
  margin-right: 120px;
}

.footer-socials-text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-icons-list {
  display: flex;
  gap: 16px;
  align-items: center;
}
.footer-icons-items {
  width: 40px;
  height: 40px;
}
.footer-icons-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: #31d0aa;
}
.footer-list-icons {
  fill: #f4f4fd;
}

.footer-text-subscribe {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.contact-form {
  display: flex;
  gap: 24px;
}

.contact-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
}

.contact-form-input::placeholder {
  color: #ffffff;
}
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.contact-form-icon {
  margin-left: 16px;
}
/*Backdrop*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999999999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/*Modal*/
.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding-top: 72px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-closing-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  padding: 0px;
  line-height: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-closing-btn:hover {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.modal-closing-btn:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.modal-closing-btn-icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-description {
  width: 360px;
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
}
/*Review form*/
.review-form-field-wrapper {
  margin-bottom: 8px;
}

.review-form-input-wrapper {
  position: relative;
  margin-bottom: 16px;
}
.review-form-field-label {
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;
  color: #8e8f99;
  margin-bottom: 4px;
}

.review-form-field-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-input:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}

.review-form-field-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-field-input:focus + .review-form-field-icon {
  fill: #4d5ae5;
}
.review-form-field-comment {
  margin-bottom: 16px;
}
.review-form-field-message {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  text-align: left;

  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-field-message:focus {
  border-color: #4d5ae5;
  outline-color: transparent;
  outline-offset: 4px;
}
.review-form-field-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}

/*Checkbox*/

.review-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.review-form-checkbox:checked
  + .review-form-checkbox-label
  .review-form-own-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.review-form-checkbox-label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.review-form-own-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 4px;
  cursor: pointer;
  fill: transparent;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}

.review-form-btn {
  display: block;
  color: #ffffff;
  background-color: #4d5ae5;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-btn:hover {
  background-color: #404bbf;
}

.review-form-btn:focus {
  background-color: #404bbf;
}
/* Mobile Menu*/
.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 72px 16px 40px;

  visibility: hidden;
}

.is-open {
  visibility: visible;
}

.menu-close-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ffffff;

  border: 1px solid #e7e9fc;
  padding: 0;
  cursor: pointer;
}

.menu-close-icon {
  fill: #2e2f42;
}
